<!------ START 50:50 ------>
<section class="module fifty-fifty fifty-fifty--media-@@imagefirst" style="--bgColour: var(--@@bg); --headingColour:  var(--@@headingColour); --textColour: var(--@@textColour)">
    <div class="">
        <div class="column flex5050">

            <div class="fifty-fifty__copy module__background">

                @@if(preheader){
                    <p class="module__heading u-preheader">@@preheader</p>
                }

                @@if(title){
                    <h3 class="module__heading u-h2">@@title</h3>
                }

                @@if(copy){
                    <div class="module__text ">
                        @@copy
                    </div>
                }

                @@if(buttons != ""){
                    <div class="button__container">
                        @@for (var i = 0; i < buttons.length; i++) {
                            <a class="button" target="`+buttons[i].target +`" href="`+buttons[i].url+`">`+buttons[i].text +`</a>
                        }
                    </div>
                }

            </div>

            <div class="fifty-fifty__media">
                <div class="fifty-fifty__media-container" data-speed="1.1">
                        @@include('../../includes/slimsy.html', {
                            "image" : {
                                "desktop" : "/assets/img/@@image", 
                                "mobile" : "/assets/img/@@imagemobile"
                            },
                            "width" : "700",
                            "height" : "700",
                            "breakpoint" : "730",
                            "pictureclass" : "",
                            "imgclass" : "u-objectFit",
                            "breakpoint" : "",
                            "sizes" : "700x700, 700x700"
                        })
                </div>
            </div>
        </div>
    </div>
</section>