<div class="fifty-fifty__image flex5347__53">
    <div class="flex5347__col">

        @@include('../../includes/slimsy.html', {
            "image" : {
                "desktop" : "/assets/img/temp/fifty-fifty.jpg", 
                "mobile" : "/assets/img/temp/fifty-fifty.jpg"
            },
            "width" : "712",
            "height" : "468",
            "breakpoint" : "",
            "pictureclass" : "",
            "imgclass" : "",
            "breakpoint" : "",
            "sizes" : "712x468"
        })

    </div>
</div>
