/* ==========================================================================
THEME OVERIDES
========================================================================== */
$uiBlack: #080b13;
$uiWhite: #ffffff;

$brandTan: #94624f;
$brandGrey: #aaa;
$brandMidGrey: #333333;
$brandDarkGrey: #1a1e28;


$colorText: $brandGrey;
$colorTextInverse: #333;

:root{
   --black: #080b13;
   --white: #FFFFFF;
   --tan: #94624f;
   --grey: #aaa;
   --midgrey: #333;
   --darkgrey: #1a1e28;
}

/* BASE PRIMARY VARIABLES
========================================================================== */

//UI Info
$uiError: #df2c37;
$uiSuccess: #46b24b;
$uiInfo: #4b6ebc;
$colorHR: #cccccc;


/* Structure - Breakpoints
   ========================================================================== */

$gridGutter: 80px;
$gridGutterMobile: 40px;
$gridMaxWidth: 1350px+ (2 * $gridGutter);

$gridMaxWidthMid: 1100px+ (2 * $gridGutter);
$gridMaxWidthNarrow: 920px+ (2 * $gridGutter);
$gridMaxWidthNarrowArticle: 850px+ (2 * $gridGutter);

$navBreak: 1060px;

/* Key Site Variables
========================================================================== */

$colorSiteBG: #080b13;

$linkColor: $colorText;
$linkHover: $colorText;
$linkFocus: $colorText;
$linkActive: $colorText;
$linkVisited: $colorText;

$borderRadius: 5px;
$formInputBG: $uiWhite;

/* Header
========================================================================== */

$headerBackground: transparent;
$headerBackgroundScrolled: rgba(8,11,19, 0.6);

$navFontSize: 18px;
$navFontColor: $uiWhite;
$navFontPrefixColor: $brandTan;
$navArrowColor: $brandTan;

$navDropdownMargin: -25px;
$navDropdownFontSize: 16px;
$navDropdownBackground: $brandTan;
$navDropdownBorderRadius: 25px;

$mobileNavPaddingVertical: 14px;
$mobileNavPaddingHorizontal: $gridGutterMobile;
$mobileNavBackground: $uiWhite;
$mobileNavBackdrop: $uiBlack;
$mobileNavBorderRadius: 25px;
$mobileNavArrowColor: $brandTan;
$mobileNavToggleColor: $uiWhite;
$mobileNavToggleColorOpen: $brandTan;
$mobileNavToggleBackground: $brandTan;
$mobileNavToggleBorderRadius: 50%;
$mobileNavSubMenuLine: $brandTan;
$mobileNavSubPadding: 36px;

/* Footer
========================================================================== */

/* Fonts
========================================================================== */

$baseFontFamily: 'Nunito Sans', Arial, sans-serif !default;
$baseFontWeight: 400;
$baseBoldWeight: 700;

$headingFontFamily:  'Uncial Antiqua', "Times New Roman", serif !default;
$headingFontWeight: 400;
$headingTransform: unset;
$headingLineHeight: 1.4;

$textDirection: ltr !default; // if a multilingual website - rtl !default

$baseFontSize: 18; // No px on this
$baseLineHeight: 26px;


$largeBodyCopy: 35px;
$preHeaderSize: 16px;

$headingH1: 130px;
$headingH2: 60px;
$headingH3: 40px;
$headingH4: 30px;
$headingH5: 25px;

$baseFontSize_mobile: 16px;
$baseLineHeight_mobile: 21px;


$largeBodyCopy_mobile: 24px;
$preHeaderSize_mobile: 14px;


$headingH1_mobile: 54px;
$headingH2_mobile: 44px;
$headingH3_mobile: 30px;
$headingH4_mobile: 20px;
$headingH5_mobile: 16px;

$headerFontSize: 14px;
$footerFontSize: 12px;

/* ==========================================================================
   Variables
   ========================================================================== */

/* Buttons
   ========================================================================== */

$buttonBorderSize: 2px;
$buttonBorderRadius: 0px;
$buttonFontWeight: 600;
$buttonFontSize: 18px;
$buttonFontSize_mobile: 16px;
$buttonTextTranform: unset;
$buttonPadding: 12px 20px 12px 20px;
$buttonPadding_mobile: 12px 20px 12px 20px;

$buttonBackground: transparent;
$buttonTextColor: $brandTan;
$buttonBorderColor: $brandTan;
$buttonBackground_hover: $brandTan;
$buttonTextColor_hover: $uiWhite;
$buttonBorderColor_hover: $brandTan;

$buttonInverseBackground: $brandTan;
$buttonInverseTextColor: $uiWhite;
$buttonInverseBorderColor: $brandTan;
$buttonInverseBackground_hover: $uiWhite;
$buttonInverseTextColor_hover: $brandMidGrey;
$buttonInverseBorderColor_hover: $uiWhite;

/* Structure - Breakpoints
   ========================================================================== */

$gridGutter: 60px;
$gridGutterMobile: 20px;
$gridMaxWidth: 1350px + (2 * $gridGutter);

$gridMaxWidthMid: 1100px + (2 * $gridGutter);
$gridMaxWidthNarrow: 920px + (2 * $gridGutter);
$gridMaxWidthNarrowArticle: 850px + (2 * $gridGutter);

$breakpoints: (
  mobile: 420,
  tablet: 731,
  desktop: 1025,
  navigation: 1060
) !default;

/* Animation
   ========================================================================== */

$elasticAnimate: cubic-bezier(0.175, 0.885, 0.32, 1.1);
