@use 'sass:math';

/* Component
   ========================================================================== */

.case-studies__grid {
  @include critical {
    display: flex;
    flex-direction: column;

    @include mq(desktop) {
      position: relative;
      display: grid;
      grid-template-columns: repeat(3, calc(33.333% - 1.33vw));
      grid-auto-rows: 22vh;
      grid-gap: 2vw;
    }

    @include mq(1330px) {
      @include px(grid-auto-rows, 320px);
      @include px(grid-gap, 25px);
    }
  }
}

.case-studies__card {
  @include critical {
    display: flex;
    position: relative;
    z-index: 3;
    max-width: 100%;
    @include px(margin-bottom, 30px);

    a {
      display: inline-block;
      text-decoration: none;
      //cursor: pointer;
    }
  }
  &:hover {
    @include defer {
      z-index: 20;
    }
  }
}

.case-studies__card:nth-child(even) a {
  @include critical {
    margin-left: auto;
  }
}

.case-studies__image {
  @include critical {
    position: relative;
    display: block;
    @include px(border-top-right-radius, 60px);
    overflow: hidden;
    max-width: 100%;
    height: auto;
    z-index: 1;
    transform: scale(0.86);
    transform-origin: bottom center;
    @include transition(transform 0.5s $elasticAnimate);

    &::after {
      content: '';
      display: block;
      padding-top: 67.5%;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  @include mq(tablet) {
    @include px(border-top-right-radius, 110px);
  }
}

.case-studies__card-title {
  @include critical {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  span.u-h6 {
    @include critical {
      line-height: 1;
      @include px(padding, 10px 30px);
      display: inline-block;
      background-color: var(--uiBlack);
      color: var(--uiWhite);
      @include px(border-radius, 16px);
      @include px(margin-top, -20px);
      @include px(margin-bottom, 10px);
    }
  }
}

.case-studies__excerpt {
  @include critical {
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
    @include transition(
      transform 0.4s $elasticAnimate,
      opacity 0.5s $elasticAnimate,
      visibility 0.5s $elasticAnimate
    );
  }
}

.case-studies__card a:hover {
  @include defer {
    .case-studies__image {
      transform: scale(1);
    }

    .case-studies__excerpt {
      transform: translateY(0px);
      opacity: 1;
      visibility: visible;
    }
  }
}

/* Custom Card Sizes
    ========================================================================== */

.case-studies__grid {
  @include casestudy-card(2, 380);
  @include casestudy-card(3, 398);
  @include casestudy-card(4, 392);
  @include casestudy-card(5, 316);
  @include casestudy-card(6, 321);
}

/* Media Queries
      ========================================================================== */
//Desktop and Up

//Tablet and Desktop
@include mq(tablet) {
  // .case-studies__card
  .case-studies__grid {
    @include casestudy-card(2, 380 * 1.5);
    @include casestudy-card(3, 398 * 1.5);
    @include casestudy-card(4, 392 * 1.5);
    @include casestudy-card(5, 316 * 1.5);
    @include casestudy-card(6, 321 * 1.5);
  }
}

// Mobile and Tablet
@include mq(0, tablet) {
  .case-studies__card:nth-child(2) a {
    @include critical {
      margin: 0 auto;
    }
  }
  // .case-studies__card
  .case-studies__grid {
    @include casestudy-card(2, 380);
    @include casestudy-card(3, 398);
    @include casestudy-card(4, 392);
    @include casestudy-card(5, 316);
    @include casestudy-card(6, 321);
  }

  .case-studies__card:nth-of-type(1) .case-studies__card-link {
    @include critical {
      margin: 0 auto;
    }
  }
  .case-studies__card {
    @include critical {
      @include px(margin-bottom, 15px);
    }
  }
}

@include mq(0, desktop) {
  .case-studies__copy {
    @include critical {
      text-align: center;
      @include px(margin-bottom, 25px);

      *.module__heading {
        text-align: center !important; // override inline style
      }
    }
  }
  .case-studies__excerpt {
    @include critical {
      transform: translateY(0px);
      opacity: 1;
      visibility: visible;
    }
  }
}

@include mq(desktop) {
  .case-studies.module {
    .column {
      @include critical {
        @include px(padding-top, 60px);
      }
    }
  }
  // .case-studies__card
  .case-studies__grid {
    @include casestudy-card(2, 380);
    @include casestudy-card(3, 398);
    @include casestudy-card(4, 392);
    @include casestudy-card(5, 316);
    @include casestudy-card(6, 321);
  }

  .case-studies__copy {
    @include critical {
      grid-column-start: 2;
      grid-row-start: 2;
      transform: translateX(5%) translateY(-10%);
    }
  }

  .case-studies__card {
    @include critical {
      margin-bottom: 0;
    }
  }

  .case-studies__grid {
    .case-studies__card:nth-child(2) {
      @include critical {
        grid-column-start: 1;
        grid-row-start: 1;
        transform: translateX(-5%) translateY(30%);
      }
    }

    .case-studies__card:nth-child(3) {
      @include critical {
        grid-column-start: 3;
        grid-row-start: 1;
        transform: translateX(-20%);
      }
    }
    .case-studies__card:nth-child(4) {
      @include critical {
        grid-column-start: 1;
        grid-row-start: 3;
        transform: translateX(5%) translateY(-50%);
      }
    }
    .case-studies__card:nth-child(5) {
      @include critical {
        grid-column-start: 2;
        grid-row-start: 3;
        transform: translateX(35%) translateY(10%);
      }
    }
    .case-studies__card:nth-child(6) {
      @include critical {
        grid-column-start: 3;
        grid-row-start: 3;
        transform: translateX(5%) translateY(-60%);
      }
    }
  }
}
