/* Component
   ========================================================================== */

/* Media Queries
   ========================================================================== */

html, body, main, p, div, *{
  cursor: none !important;
}

.cursor {
  @include critical {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;

    @include px(width, 34px);
    @include px(height, 34px);

    //@include px(margin-left, -15px);
    //@include px(margin-top, -15px);
    z-index: 11000;
  
    display: block;
    background-image: url('/assets/img/cursor.png');
    background-position: 0px 0px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    
    @include transition(
      width 0.2s, height 0.2s
    );
  }
}

.cursor--hover {
  @include defer {

    @include px(width, 46px);
    @include px(height, 46px);
      background-position: right top;
  }
}
