/* Component
   ========================================================================== */

$fifty-fifty-large-padding: $gridGutter;
$fifty-fifty-small-padding: calc($gridGutter / 2);
$fifty-fifty-corner-radius-desktop: 200px;
$fifty-fifty-corner-radius-mobile: 120px;

.fifty-fifty .flex5050 {
  @include critical {

    @include mq(desktop){
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      > * {
        width: 50%;
      }
    }
  }
}

.fifty-fifty__copy{
  @include critical {
    position: relative;
    z-index: 20;
    @include px(padding, $gridGutterMobile);

    @include mq(tablet){
      @include px(padding, $gridGutter);
    }
  }
}

.fifty-fifty__media {
  @include critical {
    position: relative;
    display: block;
    z-index: 10;
    opacity: 0.8;
    filter:saturate(0.5);

    @include mq(desktop){
      @include px(margin-top, 100px);
    }


    &::after{
      position: relative;
      content: '';
      display: block;
      padding-top: 100%;
    }
  }
}


.fifty-fifty__media-container{
  @include critical {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    @include mq(desktop) {
      width: calc(100% + 50px);
    }
  }
}

/* Media Queries
========================================================================== */

//Desktop and Up
@include mq(desktop) {
  .fifty-fifty.fifty-fifty--media-right {
    @include critical {      
      .fifty-fifty__media-container{
        left: auto;
        right: 0;
      }
    }
  }

  .fifty-fifty.fifty-fifty--media-left {
    @include critical {

      .fifty-fifty__media-container{
        right: auto;
        left: 0;
      }

      .fifty-fifty__copy {
        order: 2;
      }
    }
  }
}
