/* Component
   ========================================================================== */

.fullwidth {
  @include critical{
    text-align: left;
    ul,
    ol {
      display: inline-block;
  
      li {
        text-align: left;
      }
    }
  
    .module__heading {
      width: 100%;
      //@include px(max-width, 760px);
    }
  }
}

@include critical{

  .fullwidth {
    a.button,
    button.button {
      @include px(margin-right, 20px);
      @include px(margin-left, 0px);
    }

    .module__text {
      width: 100%;
      @include px(max-width, 880px);
    }
  }
}

/* Modifiers
   ========================================================================== */

.fullwidth {
  .module__text.u-large-body {
    @include critical {
      max-width: 100%;
    }
  }
}

.fullwidth--center {
  @include critical {
    text-align: center;

    a.button,
    button.button {
      @include px(margin-right, 10px);
      @include px(margin-left, 10px);
    }
  }
}

/* Media Queries
   ========================================================================== */

//Desktop and Up
@include mq(desktop) {
}

//Tablet and Desktop
@include mq(tablet) {
}

//Mobile Small
@include mq(0, tablet) {
  .fullwidth {
    @include critical {
      text-align: left;

      a.button,
      button.button {
        @include px(margin-right, 20px);
        @include px(margin-left, 0px);
      }
    }
  }
}





.divider{
  @include critical{
    position: relative;
    width: 130px;
    margin:0px auto 20px auto;
    &::before, &::after{
      content: " ";
      display: block;
      width: 30px;
      top: 50%;
      left: 0;
      position: absolute;
      height: 3px;
      border-radius: 3px;
      background-color: $brandTan;
      opacity: 0.4;
    }

    &::after{
      right: 0;
      left: auto;
    }
  }

  @include defer{
    img{

      
      animation: keeprotating 8s infinite forwards ease-in-out;
    }
      @keyframes keeprotating {
        0% {
          transform: rotate(-40deg);
        }
        1% {
          transform: rotate(10deg) scale(1.2);
        }  
        2% {
          transform: rotate(-40deg);
        }
        3% {
          transform: rotate(10deg) scale(1.2);
        }
        4% {
          transform: rotate(-40deg);
        }
        5% {
          transform: rotate(10deg) scale(1.2);
        }  
        6% {
          transform: rotate(-40deg);
        }
        7% {
          transform: rotate(10deg) scale(1.2);
        }
        8% {
          transform: rotate(0deg) scale(1);
        }
      }
      


    img:hover{
      animation: rotate 0.13s infinite alternate ease-in-out;
    }

    @keyframes rotate {
      from {
        transform: rotate(-40deg);
      }
      to {
        transform: rotate(10deg) scale(1.2);
        
      }
    }
  }
}