/* Component
   ========================================================================== */


$gap: 50px;

.grid{
    @include critical{
        @include mq(desktop){
            display: flex;
            flex-wrap: wrap;
            @include px(gap, $gap);
        }
    }
}

.grid__item {
    @include critical{
        @include px(padding, $gap);
        position: relative;
        overflow: hidden;


        ul{
            padding:0;
            @include px(margin, 0 0 0 20px);
        }

        @include mq(0, desktop){


            @include px(margin-bottom, $gap);
            &--has-image{
                min-height: 80vw;
            }            
            
        }

        @include mq(desktop){
            min-height: 20vw;
            width: calc(33.3% - $gap);
            flex-grow: 1;
            min-height: 30vw;

            &:nth-child(1){
                width: calc(60% - ($gap * 0.5));
                order:1;
            }

            &:nth-child(2){
                order:4;
            }


            &:nth-child(3){
                order:2;
                width: calc(40% - ($gap * 0.5));
            }

            &:nth-child(4){
                order:3;
            }
            &:nth-child(5){
                order:5;
            }
        }
    }

    @include defer{
        &:nth-child(1){
            ::-moz-selection {
                background: rgba($brandDarkGrey, 0.6) !important;
            }
            ::selection {
            background: rgba($brandDarkGrey, 0.6) !important;
            }
        }
    }
}
