/*

# Selector

*/

/* Component
   ========================================================================== */

body {
  @include critical {
    width: 100%;
    overflow-x: hidden;
  }
}

.header {
  @include critical {
    padding: 0;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: $headerBackground;
    z-index: 5000;

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: block;
      position: absolute;
      z-index: 1;
    }
  }

  @include defer {
    @include transition(
      background-color 0.3s ease-in-out,
      transform 0.5s ease-in-out
    );

    &::before {
      @include transition(background-color 0.4s ease-in-out);
    }

    &.header--glassmorphic:before {
      backdrop-filter: blur(25px);
      -webkit-backdrop-filter: blur(25px);
      mask-image: linear-gradient(black, hsla(0, 0%, 0%, 0.6) 80%, transparent);
      -webkit-mask-image: linear-gradient(
        black,
        hsla(0, 0%, 0%, 0.6) 80%,
        transparent
      );
      height: 120%;
    }

    &.header--sticky {
      position: sticky;
    }

    &.header--scrolled:before {
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
      background-color: $headerBackgroundScrolled;
      mask-image: none;
      height: 100%;
    }
  }
}

.header__flex {
  @include critical {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    z-index: 2;
  }
}

.header__logo,
.header__logo a,
.header__logo svg {
  @include critical {
    display: block;
    position: relative;
    z-index: 1;
  }
}

.header__logo {
  @include critical {
    flex-shrink: 1;
    flex-grow: 0;
    @include px(padding, 8px 20px 8px 0);
  }

  @include defer {
    img{
      @include transition(transform 0.3s);
    }

    a:hover{
      img{
        transform: scale(1.3) rotate(360deg);
      }
    }
  }
}


.header--hidden {
  @include defer {
    transform: translateY(-100%);
  }
}
