$blur: 2px;

.lazyloadfade {
  @include critical {
    opacity: 1;
    animation: fadeInNoJs 1s 0s;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    transition:
      opacity 300ms,
      filter 300ms;
  }
}

.js {
  @include critical {
    .lazyloadfade {
      opacity: 1;
      animation: none;
      -webkit-filter: blur($blur);
      filter: blur($blur);
    }

    .lazyloadfade.lazyloaded {
      animation: fadeInJs 0.3s 0s;
      -webkit-filter: blur(0px);
      filter: blur(0px);
    }
  }
}

li.icons-list__item a,
.card-list__list a .card__image {
  @include critical {
    img.lazyloaded {
      @include transition(opacity 0.3s, transform 0.3s);
    }
  }
}

//Tablet and Desktop
@include mq(tablet) {
}

//Mobile
@include mq(0, tablet) {
}

/* The animation code */
@keyframes fadeInNoJs {
  0% {
    opacity: 0;
    -webkit-filter: blur($blur);
    filter: blur($blur);
  }
  70% {
    opacity: 0;
  }

  80% {
    -webkit-filter: blur($blur);
    filter: blur($blur);
  }

  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}

/* The animation code */
@keyframes fadeInJs {
  0% {
    -webkit-filter: blur($blur);
    filter: blur($blur);
  }

  80% {
    -webkit-filter: blur($blur);
    filter: blur($blur);
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}
