<!---- START HERO BANNER ---->
<section class="banner">
    @@if(title){
        <div class="banner__content">
            <div class="column column--narrow">
                <div class="banner__overlay"></div>
                <div>
                    <@@h class="module__heading u-h1">@@title</@@h>
                    <div class="banner__text">
                        <!-- start wysiwig -->
                        <p>@@copy</p>
                        <!-- end wysiwig -->
                    </div>


                </div>
            </div>
        </div>
    }


    <div class="banner__media">
        <picture class="banner__image" data-speed="0.9">
            <source srcset="/assets/img/@@image" media="(min-width: 731px)">
            <img src="/assets/img/lazy/pixel.png" data-src="/assets/img/@@imagemobile" width="730" height="520" class="u-objectFit lazyload">
        </picture>
    </div>
</section>

<!---- END HERO BANNER ---->