<!------ START FULL WIDTH COPY ------>
<section class="module fullwidth module__background theme__background--@@theme  @@alignment" style="--headingColour:  var(--white); --textColour: var(--white)">

    <div class="column column--narrow">

        @@if(title){
            <@@h class="module__heading @@hclass">@@title</@@h>
        }

        <div class="module__text module__text--narrow">

            @@if(copy){
                @@copy
            }

            @@if(copy == ""){
                @@include('../includes/wysiwig.html')
            }

        </div>

        @@if(buttons != ""){
            <div class="button__container">
        
            @@for (var i = 0; i < buttons.length; i++) {
                <a class="button" href="/">`+buttons[i]+`</a>
            }
            </div>
        }
    </div>

</section>
<!------ END FULL WIDTH COPY ------>