<div class="form__row">
    <div class="validate @@class">
        <label for="contact_message" class="form__label-textarea form__label">
            <span class="form__labelspan">Message:</span>
            <textarea id="contact_message" data-val-required="@@errormsg" required class="js-charcount" maxlength="300"></textarea>
            <span class="form__highlight"></span>
            <div class="form__charcount"><span class="js-chars-remaining">300</span> characters remaining</div>
        </label>
        <span class="validate__msg">@@errormsg</span>
    </div>
</div>