<div class="form__row form__row--newsletter">
    <label for="contact_signup" class="form__checkbox module__text">
        <input id="contact_signup" type="checkbox" >
        <span class="form__labelspan">Tick here to join the Pretty Pragmatic mailing list. We will not use the contact details you provide for any other reason nor will we allow third parties to access your details. We will manage your details in accordance with our <a href="/privacy-policy/" target="_blank">Privacy Policy</a>.</span>
    </label>
</div>