<!--<div class="g-recaptcha" data-sitekey="6LeSvk8gAAAAANOATU_DDDS-Ik1ocWKQEKCQrsLQ"></div>-->
<!-- <button type="button" class="button js-recaptcha-submit" id="@@id">Submit</button>-->
<!--<button class="button" type="submit">Submit</button>-->

<div class="g-recaptcha"
         data-sitekey="6LevYN4kAAAAAKLsdrDhrJJVINlioWU4IwqpGDRs"
         data-callback="reCaptchaOnSubmit"
         data-size="invisible"></div>
<button type="button" class="button js-recaptcha-submit" id="@@id">Submit</button>

<div class="module__text">
    <p class="form__recaptcha-disclaimer">This site is protected by reCAPTCHA and the Google
        <a target="_blank" href="https://policies.google.com/privacy">Privacy Policy</a> and
        <a target="_blank" href="https://policies.google.com/terms">Terms of Service</a> apply.</p>
</div>