
<div class="overlay">
    <form id="passphrase-form">
        <label for="passphrase" class="module__heading u-h4">The <strong>Bridesmaids Three</strong> cordially invite you to 'their' <strong>Medieval Manor</strong> for a weekend of <strong>Merriment</strong> and <strong>Frivolity</strong> in honour of the most splendiferous <strong>Bride-to-be</strong>,<br><strong>Miss Jennifer Brabbins</strong>.</label>
        <input type="text" id="passphrase" placeholder="enter the passphrase ..." name="passphrase" required>
        <p class="module__heading u-h4">I accept with:</p>
        <div class="overlay__buttons">
            <button class="button" type="submit">Enthusiasm</button> <button class="button" type="submit">Gratitude</button>  <button class="button" type="submit">Distain</button>
        </div>
    </form>
</div>


<script>
    document.getElementById('passphrase-form').addEventListener('submit', function(event) {
        event.preventDefault();
        const passphrase = document.getElementById('passphrase').value;
        // Handle the passphrase submission with JavaScript
        console.log('Passphrase submitted:', passphrase);
        // You can add your AJAX request or other logic here
    });
</script>
</div>
<div class="cursor"></div>

<link rel="stylesheet" href="/assets/css/deferred.min.css?v=1.0.0">  
<script type="text/javascript" src="/assets/js/main.min.js?v=17052022"></script>

<link rel="stylesheet" type="text/css" href="/assets/css/deferred.min.css?v=1.0.0" media="print" onload="this.media='all';this.onload=null;">
<noscript><link rel="stylesheet" type="text/css" href="/assets/css/deferred.min.css?v=1.0.0"></noscript>
<script src="/scripts/gsap.min.js"></script>
<script src="/scripts/ScrollSmoother.min.js"></script>
<script src="/scripts/ScrollTrigger.min.js"></script>
<script src="/scripts/ScrollToPlugin.min.js"></script>
<script type="module" src="/assets/js/main.min.js"></script>


</body>
</html>