<!doctype html>
<!--[if IE 9]><html class="lt-ie10 no-js" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js u-showoverlay" lang="en"><!--<![endif]-->
<head> 
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta name="robots" content="noindex">

    <title>@@pageTitle | Jenn-Do 2025</title>  

    <meta name="description" content="">  <!-- TODO: DONT FORGET META! -->
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">
    <meta property="og:image" content="" /> <!-- TODO: DONT FORGET META! -->

    <!-- Icons -->
    <link rel="shortcut icon" href="/assets/img/icons/favicon.ico?jenn=cool" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/icons/apple-touch-icon.png?jenn=cool">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/icons/favicon-32x32.png?jenn=cool">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/icons/favicon-16x16.png?jenn=cool">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Uncial+Antiqua&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/critical.min.css">  
</head>

<body>
