<header class="header" data-header>
    <div class="column">
        <div class="header__flex">
            <div class="header__logo">
                <a href="/" data-anchor="#">
                    <img src="/assets/img/logo.png" alt="Jenn's face" height="60" width="60">
                    <span class="u-visuallyHidden">Jenn Do</span>
                </a>
            </div>
            <nav class="nav">
                <ul class="nav__list">
                    <li>
                        <a href="/#where" data-anchor="#where" data-anchor>Where?</a>
                    </li>
                    <li>
                        <a href="/#what" data-anchor="#what" data-anchor>What?</a>
                    </li>
                    <li>
                        <a href="/#to-bring" data-anchor="#to-bring" data-anchor>Packing</a>
                    </li>
                    <li>
                        <a href="/#faq" data-anchor="#faq" data-anchor>FAQ</a>
                    </li>
                    <li>
                        <a class="button button--inverse" href="/form.html">Fill in this form!</a>
                    </li>
                </ul>

            </nav>
            <button type="button" class="nav__menu-toggle js-toggle-menu u-hideDesktopNav">
                <span class="nav__menu-burger"></span>
                <span class="nav__menu-text">Menu</span>
            </button>
        </div>
    </div>
</header>